* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


.container {
    background-color: thistle;
    border: 2px solid purple;
    border-radius: 15px;
    padding: 1.5em;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;


}

.cell {
    background-color: white;
    border: 1px solid plum;
    /* padding: 1em; */
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% / 16);
    aspect-ratio: 1 / 1;

    /* transition: background-color 3.5s ease 0.8s; */
}

/* .cell:hover {
    background-color: coral;
    transition: background-color 0.05s ease;
} */

.hoverin {
    background-color: coral;
    transition: background-color 0s ease;
}

.hoverout {
    transition: background-color 3.5s ease 0.6s;
}

.choices {
    display: flex;
}

button {
    font-size: 1em;
    padding: 1em 2em;
    border: 2px solid purple;
    border-radius: 10px;
    display: inline-block;
    margin: 10px auto;
    color: purple;
    background: mistyrose;
    transition: color .25s, transform .25s, background-color .25s, box-shadow .25s;
}

button:hover {
    color: white;
    background-color: purple;

    box-shadow: 0 .5em .5em -.4em purple;

    transform: translateY(-.25em);

    cursor: pointer;
}