* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


.row {
    background-color: thistle;
    border: 1px solid purple;
    /* display: flex; */
    padding: 0 1em;


}

.cell {
    background-color: mistyrose;
    border: 1px solid plum;
    padding: 1em;
    display: inline-block;
}